@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Roboto:wght@300;400;500&display=swap');


body, .dashboard-root,button {
  font-family: 'Montserrat', 'Roboto', Arial, sans-serif;
  font-size: 1rem;
  letter-spacing: 0.01em;
  background: #f5f7fa;
  color: #193b6a;
  margin: 0;
}

